#Setting up

In [ ]:
import pandas as pd
import numpy as np
from google.colab import output

In [ ]:
earnings_per_share = '/content/Earnings per share.csv'

In [ ]:
return_on_equity = '/content/Return on Equity.csv'

In [ ]:
eps_unsorted = pd.read_csv(earnings_per_share)
roe_unsorted = pd.read_csv(return_on_equity)

y0 = '2021'
y1 = '2020'
y2 = '2019'
y3 = '2018'

eps = eps_unsorted.sort_values(by = 'CODE')
roe = roe_unsorted.sort_values(by = 'CODE')

In [ ]:
eps.head()

   CODE  2021  3Q 2021  2Q 2021  ...   2018  3Q 2018  2Q 2018  1Q 2018
0   ABA   NaN      NaN     0.00  ...   1.11     0.00     0.00      NaN
1    AC   NaN      NaN     7.51  ...  48.35    11.69    12.81      NaN
2  ACEN   NaN      NaN     0.07  ...  -0.11    -0.06    -0.02      NaN
3  ACEX   NaN      NaN    -0.01  ...  -0.27    -0.01    -0.21      NaN
4   AEV   NaN      NaN     1.04  ...   3.95     1.28     0.93      NaN

[5 rows x 17 columns]

In [ ]:
roe.head()

   CODE      NI 2020       SE 2020  ...       SE 2019       NI 2018       SE 2018
0   ABA -109280226.0  9.006529e+09  ...  8.878955e+09  3.299380e+09  8.686630e+09
1    AC   29270343.0  5.424221e+08  ...  5.093136e+08  5.506511e+07  4.691084e+08
2  ACEN    4360295.0  2.135507e+07  ...  1.638502e+07 -4.215530e+05  8.371449e+06
3  ACEX  -14148276.0  5.296713e+07  ...  6.711541e+07 -6.852002e+07  8.681218e+07
4   AEV   20808989.0  2.236000e+08  ...  2.171951e+08  3.123880e+07  2.184778e+08

[5 rows x 7 columns]

#Screener

In [ ]:
screener = pd.DataFrame()

screener['CODE'] = eps['CODE']

placeholder = [0.0 for i in range(len(screener['CODE']))]
screener['Y1 - Y0'] = placeholder
screener['Q3 Y1 - Y0'] = placeholder
screener['Q2 Y1 - Y0'] = placeholder
screener['Q1 Y1 - Y0'] = placeholder

screener['Y2 - Y1'] = placeholder
screener['Q3 Y2 - Y1'] = placeholder
screener['Q2 Y2 - Y1'] = placeholder
screener['Q1 Y2 - Y1'] = placeholder

screener['Y3 - Y2'] = placeholder
screener['Q3 Y3 - Y2'] = placeholder
screener['Q2 Y3 - Y2'] = placeholder
screener['Q1 Y3 - Y2'] = placeholder

screener['ROE Y1'] = placeholder
screener['ROE Y2'] = placeholder
screener['ROE Y3'] = placeholder

for i in range(len(eps['CODE'])):
  screener['Q1 Y1 - Y0'][i] = ((eps['1Q ' + y0][i] - eps['1Q ' + y1][i]) / abs(eps['1Q ' + y1][i])) * 100
  screener['Q2 Y1 - Y0'][i] = ((eps['2Q ' + y0][i] - eps['2Q ' + y1][i]) / abs(eps['2Q ' + y1][i])) * 100
  screener['Q3 Y1 - Y0'][i] = ((eps['3Q ' + y0][i] - eps['3Q ' + y1][i]) / abs(eps['3Q ' + y1][i])) * 100
  screener['Y1 - Y0'][i] = ((eps[y0][i] - eps[y1][i]) / eps[y1][i]) * 100

  screener['Q1 Y2 - Y1'][i] = ((eps['1Q ' + y1][i] - eps['1Q ' + y2][i]) / abs(eps['1Q ' + y2][i])) * 100
  screener['Q2 Y2 - Y1'][i] = ((eps['2Q ' + y1][i] - eps['2Q ' + y2][i]) / abs(eps['2Q ' + y2][i])) * 100
  screener['Q3 Y2 - Y1'][i] = ((eps['3Q ' + y1][i] - eps['3Q ' + y2][i]) / abs(eps['3Q ' + y2][i])) * 100
  screener['Y2 - Y1'][i] = ((eps[y1][i] - eps[y2][i]) / eps[y2][i]) * 100

  screener['Q1 Y3 - Y2'][i] = ((eps['1Q ' + y2][i] - eps['1Q ' + y3][i]) / abs(eps['1Q ' + y3][i])) * 100
  screener['Q2 Y3 - Y2'][i] = ((eps['2Q ' + y2][i] - eps['2Q ' + y3][i]) / abs(eps['2Q ' + y3][i])) * 100
  screener['Q3 Y3 - Y2'][i] = ((eps['3Q ' + y2][i] - eps['3Q ' + y3][i]) / abs(eps['3Q ' + y3][i])) * 100
  screener['Y3 - Y2'][i] = ((eps[y2][i] - eps[y3][i]) / eps[y3][i]) * 100

  for j in range(len(roe['CODE'])):
    if eps['CODE'][i] == roe['CODE'][j]:
      screener['ROE Y1'][i] = (roe['NI ' + y1][j] / roe['SE ' + y1][j]) * 100
      screener['ROE Y2'][i] = (roe['NI ' + y2][j] / roe['SE ' + y2][j]) * 100
      screener['ROE Y3'][i] = (roe['NI ' + y3][j] / roe['SE ' + y3][j]) * 100

output.clear()

In [ ]:
screener.head(10)

    CODE  Y1 - Y0  Q3 Y1 - Y0  ...     ROE Y1     ROE Y2     ROE Y3
0    ABA      NaN         NaN  ...  -1.213344   7.081057  37.982283
1     AC      NaN         NaN  ...   5.396230   8.242924  11.738251
2   ACEN      NaN         NaN  ...  20.418080   0.068599  -5.035604
3   ACEX      NaN         NaN  ... -26.711426 -29.347622 -78.929038
4    AEV      NaN         NaN  ...   9.306346  13.555688  14.298383
5    AGI      NaN         NaN  ...   3.466085   9.124603   8.132338
6    ALI      NaN         NaN  ...   4.225638  15.457013  15.083284
7  ALLHC      NaN         NaN  ...   5.935490   5.739153   5.617804
8    ANI      NaN         NaN  ...   0.585650   3.060336   0.950024
9     AP      NaN         NaN  ...  11.012530  15.101263  18.622141

[10 rows x 16 columns]

#Filtered Stocks

In [ ]:
current_quarter = 'Q2 Y1 - Y0'
last_quarter_1 = 'Q1 Y1 - Y0'
last_quarter_2 = 'Y2 - Y1'

In [ ]:
filtered_stocks = pd.DataFrame()

code = []
q1y1y0 = []
q2y1y0 = []
q3y1y0 = []
y1y0 = []

q1y2y1 = []
q2y2y1 = []
q3y2y1 = []
y2y1 = []

q1y3y2 = []
q2y3y2 = []
q3y3y2 = []
y3y2 = []

roe1 = []
roe2 = []
roe3 = []

for i in range(len(screener['CODE'])):
  if screener['ROE Y1'][i] >= 15 and screener[current_quarter][i] >= 25 and screener[last_quarter_1][i] >= 25 and screener[last_quarter_2][i] >= 25:
    code.append(screener['CODE'][i])

    q1y1y0.append(screener['Q1 Y1 - Y0'][i])
    q2y1y0.append(screener['Q2 Y1 - Y0'][i])
    q3y1y0.append(screener['Q3 Y1 - Y0'][i])
    y1y0.append(screener['Y1 - Y0'][i])

    q1y2y1.append(screener['Q1 Y2 - Y1'][i])
    q2y2y1.append(screener['Q2 Y2 - Y1'][i])
    q3y2y1.append(screener['Q3 Y2 - Y1'][i])
    y2y1.append(screener['Y2 - Y1'][i])

    q1y3y2.append(screener['Q1 Y3 - Y2'][i])
    q2y3y2.append(screener['Q2 Y3 - Y2'][i])
    q3y3y2.append(screener['Q3 Y3 - Y2'][i])
    y3y2.append(screener['Y3 - Y2'][i])

    roe1.append(screener['ROE Y1'][i])
    roe2.append(screener['ROE Y2'][i])
    roe3.append(screener['ROE Y3'][i])

filtered_stocks['CODE'] = code

filtered_stocks['EPS Y0 %'] = y1y0
filtered_stocks['Q3 EPS Y0 %'] = q3y1y0
filtered_stocks['Q2 EPS Y0 %'] = q2y1y0
filtered_stocks['Q1 EPS Y0 %'] = q1y1y0

filtered_stocks['EPS Y1 %'] = y2y1
filtered_stocks['Q3 EPS Y1 %'] = q3y2y1
filtered_stocks['Q2 EPS Y1 %'] = q2y2y1
filtered_stocks['Q1 EPS Y1 %'] = q1y2y1

filtered_stocks['EPS Y2 %'] = y3y2
filtered_stocks['Q3 EPS Y2 %'] = q3y3y2
filtered_stocks['Q2 EPS Y2 %'] = q2y3y2
filtered_stocks['Q1 EPS Y2 %'] = q1y3y2

filtered_stocks['ROE Y1 %'] = roe1
filtered_stocks['ROE Y2 %'] = roe2
filtered_stocks['ROE Y3 %'] = roe3

filtered_stocks = filtered_stocks.sort_values(by = 'Q2 EPS Y0 %', ascending = False)
filtered_stocks

   CODE  EPS Y0 %  Q3 EPS Y0 %  ...   ROE Y1 %   ROE Y2 %   ROE Y3 %
4  NIKL       NaN          NaN  ...  15.865756  10.891804  12.624321
1   FNI       NaN          NaN  ...  20.469744  17.047699   7.976947
2  GMA7       NaN          NaN  ...  46.635672  27.329974  24.238585
3  GSMI       NaN          NaN  ...  29.163074  23.480825  16.811569
0   APX       NaN          NaN  ...  20.316478   5.090103   4.474291

[5 rows x 16 columns]

In [ ]:
#last 2 quarters only

filtered_stocks = pd.DataFrame()

code = []
q1y1y0 = []
q2y1y0 = []
q3y1y0 = []
y1y0 = []

q1y2y1 = []
q2y2y1 = []
q3y2y1 = []
y2y1 = []

q1y3y2 = []
q2y3y2 = []
q3y3y2 = []
y3y2 = []

roe1 = []
roe2 = []
roe3 = []

for i in range(len(screener['CODE'])):
  if screener['ROE Y1'][i] >= 15 and screener[current_quarter][i] >= 25 and screener[last_quarter_1][i] >= 25:
    code.append(screener['CODE'][i])

    q1y1y0.append(screener['Q1 Y1 - Y0'][i])
    q2y1y0.append(screener['Q2 Y1 - Y0'][i])
    q3y1y0.append(screener['Q3 Y1 - Y0'][i])
    y1y0.append(screener['Y1 - Y0'][i])

    q1y2y1.append(screener['Q1 Y2 - Y1'][i])
    q2y2y1.append(screener['Q2 Y2 - Y1'][i])
    q3y2y1.append(screener['Q3 Y2 - Y1'][i])
    y2y1.append(screener['Y2 - Y1'][i])

    q1y3y2.append(screener['Q1 Y3 - Y2'][i])
    q2y3y2.append(screener['Q2 Y3 - Y2'][i])
    q3y3y2.append(screener['Q3 Y3 - Y2'][i])
    y3y2.append(screener['Y3 - Y2'][i])

    roe1.append(screener['ROE Y1'][i])
    roe2.append(screener['ROE Y2'][i])
    roe3.append(screener['ROE Y3'][i])

filtered_stocks['CODE'] = code

filtered_stocks['EPS Y0 %'] = y1y0
filtered_stocks['Q3 EPS Y0 %'] = q3y1y0
filtered_stocks['Q2 EPS Y0 %'] = q2y1y0
filtered_stocks['Q1 EPS Y0 %'] = q1y1y0

filtered_stocks['EPS Y1 %'] = y2y1
filtered_stocks['Q3 EPS Y1 %'] = q3y2y1
filtered_stocks['Q2 EPS Y1 %'] = q2y2y1
filtered_stocks['Q1 EPS Y1 %'] = q1y2y1

filtered_stocks['EPS Y2 %'] = y3y2
filtered_stocks['Q3 EPS Y2 %'] = q3y3y2
filtered_stocks['Q2 EPS Y2 %'] = q2y3y2
filtered_stocks['Q1 EPS Y2 %'] = q1y3y2

filtered_stocks['ROE Y1 %'] = roe1
filtered_stocks['ROE Y2 %'] = roe2
filtered_stocks['ROE Y3 %'] = roe3

filtered_stocks = filtered_stocks.sort_values(by = 'Q2 EPS Y0 %', ascending = False)
filtered_stocks

   CODE  EPS Y0 %  Q3 EPS Y0 %  ...   ROE Y1 %   ROE Y2 %   ROE Y3 %
1    FB       NaN          NaN  ...  16.993757  22.544192  23.466165
6  NIKL       NaN          NaN  ...  15.865756  10.891804  12.624321
2   FNI       NaN          NaN  ...  20.469744  17.047699   7.976947
3  GMA7       NaN          NaN  ...  46.635672  27.329974  24.238585
4  GSMI       NaN          NaN  ...  29.163074  23.480825  16.811569
0   APX       NaN          NaN  ...  20.316478   5.090103   4.474291
5   MER       NaN          NaN  ...  20.003468  27.418730  27.871681

[7 rows x 16 columns]

In [ ]:
#current quarter only

filtered_stocks = pd.DataFrame()

code = []
q1y1y0 = []
q2y1y0 = []
q3y1y0 = []
y1y0 = []

q1y2y1 = []
q2y2y1 = []
q3y2y1 = []
y2y1 = []

q1y3y2 = []
q2y3y2 = []
q3y3y2 = []
y3y2 = []

roe1 = []
roe2 = []
roe3 = []

for i in range(len(screener['CODE'])):
  if screener['ROE Y1'][i] >= 15 and screener[current_quarter][i] >= 25:
    code.append(screener['CODE'][i])

    q1y1y0.append(screener['Q1 Y1 - Y0'][i])
    q2y1y0.append(screener['Q2 Y1 - Y0'][i])
    q3y1y0.append(screener['Q3 Y1 - Y0'][i])
    y1y0.append(screener['Y1 - Y0'][i])

    q1y2y1.append(screener['Q1 Y2 - Y1'][i])
    q2y2y1.append(screener['Q2 Y2 - Y1'][i])
    q3y2y1.append(screener['Q3 Y2 - Y1'][i])
    y2y1.append(screener['Y2 - Y1'][i])

    q1y3y2.append(screener['Q1 Y3 - Y2'][i])
    q2y3y2.append(screener['Q2 Y3 - Y2'][i])
    q3y3y2.append(screener['Q3 Y3 - Y2'][i])
    y3y2.append(screener['Y3 - Y2'][i])

    roe1.append(screener['ROE Y1'][i])
    roe2.append(screener['ROE Y2'][i])
    roe3.append(screener['ROE Y3'][i])

filtered_stocks['CODE'] = code

filtered_stocks['EPS Y0 %'] = y1y0
filtered_stocks['Q3 EPS Y0 %'] = q3y1y0
filtered_stocks['Q2 EPS Y0 %'] = q2y1y0
filtered_stocks['Q1 EPS Y0 %'] = q1y1y0

filtered_stocks['EPS Y1 %'] = y2y1
filtered_stocks['Q3 EPS Y1 %'] = q3y2y1
filtered_stocks['Q2 EPS Y1 %'] = q2y2y1
filtered_stocks['Q1 EPS Y1 %'] = q1y2y1

filtered_stocks['EPS Y2 %'] = y3y2
filtered_stocks['Q3 EPS Y2 %'] = q3y3y2
filtered_stocks['Q2 EPS Y2 %'] = q2y3y2
filtered_stocks['Q1 EPS Y2 %'] = q1y3y2

filtered_stocks['ROE Y1 %'] = roe1
filtered_stocks['ROE Y2 %'] = roe2
filtered_stocks['ROE Y3 %'] = roe3

filtered_stocks = filtered_stocks.sort_values(by = 'Q2 EPS Y0 %', ascending = False)
filtered_stocks

   CODE  EPS Y0 %  Q3 EPS Y0 %  ...   ROE Y1 %   ROE Y2 %   ROE Y3 %
1    FB       NaN          NaN  ...  16.993757  22.544192  23.466165
6  NIKL       NaN          NaN  ...  15.865756  10.891804  12.624321
2   FNI       NaN          NaN  ...  20.469744  17.047699   7.976947
3  GMA7       NaN          NaN  ...  46.635672  27.329974  24.238585
4  GSMI       NaN          NaN  ...  29.163074  23.480825  16.811569
0   APX       NaN          NaN  ...  20.316478   5.090103   4.474291
5   MER       NaN          NaN  ...  20.003468  27.418730  27.871681

[7 rows x 16 columns]

In [ ]:
#without current quarter
filtered_stocks = pd.DataFrame()

code = []
q1y1y0 = []
q2y1y0 = []
q3y1y0 = []
y1y0 = []

q1y2y1 = []
q2y2y1 = []
q3y2y1 = []
y2y1 = []

q1y3y2 = []
q2y3y2 = []
q3y3y2 = []
y3y2 = []

roe1 = []
roe2 = []
roe3 = []

for i in range(len(screener['CODE'])):
  if screener['ROE Y1'][i] >= 15 and screener[last_quarter_1][i] >= 25 and screener[last_quarter_2][i] >= 25:
    code.append(screener['CODE'][i])

    q1y1y0.append(screener['Q1 Y1 - Y0'][i])
    q2y1y0.append(screener['Q2 Y1 - Y0'][i])
    q3y1y0.append(screener['Q3 Y1 - Y0'][i])
    y1y0.append(screener['Y1 - Y0'][i])

    q1y2y1.append(screener['Q1 Y2 - Y1'][i])
    q2y2y1.append(screener['Q2 Y2 - Y1'][i])
    q3y2y1.append(screener['Q3 Y2 - Y1'][i])
    y2y1.append(screener['Y2 - Y1'][i])

    q1y3y2.append(screener['Q1 Y3 - Y2'][i])
    q2y3y2.append(screener['Q2 Y3 - Y2'][i])
    q3y3y2.append(screener['Q3 Y3 - Y2'][i])
    y3y2.append(screener['Y3 - Y2'][i])

    roe1.append(screener['ROE Y1'][i])
    roe2.append(screener['ROE Y2'][i])
    roe3.append(screener['ROE Y3'][i])

filtered_stocks['CODE'] = code

filtered_stocks['EPS Y0 %'] = y1y0
filtered_stocks['Q3 EPS Y0 %'] = q3y1y0
filtered_stocks['Q2 EPS Y0 %'] = q2y1y0
filtered_stocks['Q1 EPS Y0 %'] = q1y1y0

filtered_stocks['EPS Y1 %'] = y2y1
filtered_stocks['Q3 EPS Y1 %'] = q3y2y1
filtered_stocks['Q2 EPS Y1 %'] = q2y2y1
filtered_stocks['Q1 EPS Y1 %'] = q1y2y1

filtered_stocks['EPS Y2 %'] = y3y2
filtered_stocks['Q3 EPS Y2 %'] = q3y3y2
filtered_stocks['Q2 EPS Y2 %'] = q2y3y2
filtered_stocks['Q1 EPS Y2 %'] = q1y3y2

filtered_stocks['ROE Y1 %'] = roe1
filtered_stocks['ROE Y2 %'] = roe2
filtered_stocks['ROE Y3 %'] = roe3

filtered_stocks = filtered_stocks.sort_values(by = 'Q1 EPS Y0 %', ascending = False)
filtered_stocks

   CODE  EPS Y0 %  Q3 EPS Y0 %  ...   ROE Y1 %   ROE Y2 %   ROE Y3 %
4  NIKL       NaN          NaN  ...  15.865756  10.891804  12.624321
2  GMA7       NaN          NaN  ...  46.635672  27.329974  24.238585
0   APX       NaN          NaN  ...  20.316478   5.090103   4.474291
3  GSMI       NaN          NaN  ...  29.163074  23.480825  16.811569
1   FNI       NaN          NaN  ...  20.469744  17.047699   7.976947

[5 rows x 16 columns]

In [ ]:
#ROE only
filtered_stocks = pd.DataFrame()

code = []
q1y1y0 = []
q2y1y0 = []
q3y1y0 = []
y1y0 = []

q1y2y1 = []
q2y2y1 = []
q3y2y1 = []
y2y1 = []

q1y3y2 = []
q2y3y2 = []
q3y3y2 = []
y3y2 = []

roe1 = []
roe2 = []
roe3 = []

for i in range(len(screener['CODE'])):
  if screener['ROE Y1'][i] >= 15:
    code.append(screener['CODE'][i])

    q1y1y0.append(screener['Q1 Y1 - Y0'][i])
    q2y1y0.append(screener['Q2 Y1 - Y0'][i])
    q3y1y0.append(screener['Q3 Y1 - Y0'][i])
    y1y0.append(screener['Y1 - Y0'][i])

    q1y2y1.append(screener['Q1 Y2 - Y1'][i])
    q2y2y1.append(screener['Q2 Y2 - Y1'][i])
    q3y2y1.append(screener['Q3 Y2 - Y1'][i])
    y2y1.append(screener['Y2 - Y1'][i])

    q1y3y2.append(screener['Q1 Y3 - Y2'][i])
    q2y3y2.append(screener['Q2 Y3 - Y2'][i])
    q3y3y2.append(screener['Q3 Y3 - Y2'][i])
    y3y2.append(screener['Y3 - Y2'][i])

    roe1.append(screener['ROE Y1'][i])
    roe2.append(screener['ROE Y2'][i])
    roe3.append(screener['ROE Y3'][i])

filtered_stocks['CODE'] = code

filtered_stocks['EPS Y0 %'] = y1y0
filtered_stocks['Q3 EPS Y0 %'] = q3y1y0
filtered_stocks['Q2 EPS Y0 %'] = q2y1y0
filtered_stocks['Q1 EPS Y0 %'] = q1y1y0

filtered_stocks['EPS Y1 %'] = y2y1
filtered_stocks['Q3 EPS Y1 %'] = q3y2y1
filtered_stocks['Q2 EPS Y1 %'] = q2y2y1
filtered_stocks['Q1 EPS Y1 %'] = q1y2y1

filtered_stocks['EPS Y2 %'] = y3y2
filtered_stocks['Q3 EPS Y2 %'] = q3y3y2
filtered_stocks['Q2 EPS Y2 %'] = q2y3y2
filtered_stocks['Q1 EPS Y2 %'] = q1y3y2

filtered_stocks['ROE Y1 %'] = roe1
filtered_stocks['ROE Y2 %'] = roe2
filtered_stocks['ROE Y3 %'] = roe3

filtered_stocks = filtered_stocks.sort_values(by = 'Q2 EPS Y0 %', ascending = False)
filtered_stocks

    CODE  EPS Y0 %  Q3 EPS Y0 %  ...   ROE Y1 %     ROE Y2 %   ROE Y3 %
5     FB       NaN          NaN  ...  16.993757    22.544192  23.466165
11  NIKL       NaN          NaN  ...  15.865756    10.891804  12.624321
6    FNI       NaN          NaN  ...  20.469744    17.047699   7.976947
8   GMA7       NaN          NaN  ...  46.635672    27.329974  24.238585
9   GSMI       NaN          NaN  ...  29.163074    23.480825  16.811569
1    APX       NaN          NaN  ...  20.316478     5.090103   4.474291
10   MER       NaN          NaN  ...  20.003468    27.418730  27.871681
2   CNPF       NaN          NaN  ...  18.097620    16.438054  16.946759
7    GLO       NaN          NaN  ...  22.490386    27.427176  25.464930
12   TEL       NaN          NaN  ...  20.540676    19.594118  16.262664
0   ACEN       NaN          NaN  ...  20.418080     0.068599  -5.035604
3    COL       NaN          NaN  ...  23.087460    26.252105  30.264721
4   EVER       NaN          NaN  ...  76.681535 -1238.334523 -74.041521

[13 rows x 16 columns]

#Without ROE

In [ ]:
#no ROE

filtered_stocks = pd.DataFrame()

code = []
q1y1y0 = []
q2y1y0 = []
q3y1y0 = []
y1y0 = []

q1y2y1 = []
q2y2y1 = []
q3y2y1 = []
y2y1 = []

q1y3y2 = []
q2y3y2 = []
q3y3y2 = []
y3y2 = []

roe1 = []
roe2 = []
roe3 = []

for i in range(len(screener['CODE'])):
  if screener[current_quarter][i] >= 25 and screener[last_quarter_1][i] >= 25 and screener[last_quarter_2][i] >= 25:
    code.append(screener['CODE'][i])

    q1y1y0.append(screener['Q1 Y1 - Y0'][i])
    q2y1y0.append(screener['Q2 Y1 - Y0'][i])
    q3y1y0.append(screener['Q3 Y1 - Y0'][i])
    y1y0.append(screener['Y1 - Y0'][i])

    q1y2y1.append(screener['Q1 Y2 - Y1'][i])
    q2y2y1.append(screener['Q2 Y2 - Y1'][i])
    q3y2y1.append(screener['Q3 Y2 - Y1'][i])
    y2y1.append(screener['Y2 - Y1'][i])

    q1y3y2.append(screener['Q1 Y3 - Y2'][i])
    q2y3y2.append(screener['Q2 Y3 - Y2'][i])
    q3y3y2.append(screener['Q3 Y3 - Y2'][i])
    y3y2.append(screener['Y3 - Y2'][i])

    roe1.append(screener['ROE Y1'][i])
    roe2.append(screener['ROE Y2'][i])
    roe3.append(screener['ROE Y3'][i])

filtered_stocks['CODE'] = code

filtered_stocks['EPS Y0 %'] = y1y0
filtered_stocks['Q3 EPS Y0 %'] = q3y1y0
filtered_stocks['Q2 EPS Y0 %'] = q2y1y0
filtered_stocks['Q1 EPS Y0 %'] = q1y1y0

filtered_stocks['EPS Y1 %'] = y2y1
filtered_stocks['Q3 EPS Y1 %'] = q3y2y1
filtered_stocks['Q2 EPS Y1 %'] = q2y2y1
filtered_stocks['Q1 EPS Y1 %'] = q1y2y1

filtered_stocks['EPS Y2 %'] = y3y2
filtered_stocks['Q3 EPS Y2 %'] = q3y3y2
filtered_stocks['Q2 EPS Y2 %'] = q2y3y2
filtered_stocks['Q1 EPS Y2 %'] = q1y3y2

filtered_stocks['ROE Y1 %'] = roe1
filtered_stocks['ROE Y2 %'] = roe2
filtered_stocks['ROE Y3 %'] = roe3

filtered_stocks = filtered_stocks.sort_values(by = 'ROE Y1 %', ascending = False)
filtered_stocks

    CODE  EPS Y0 %  Q3 EPS Y0 %  ...   ROE Y1 %   ROE Y2 %   ROE Y3 %
3   GMA7       NaN          NaN  ...  46.635672  27.329974  24.238585
4   GSMI       NaN          NaN  ...  29.163074  23.480825  16.811569
2    FNI       NaN          NaN  ...  20.469744  17.047699   7.976947
0    APX       NaN          NaN  ...  20.316478   5.090103   4.474291
5   NIKL       NaN          NaN  ...  15.865756  10.891804  12.624321
1  CNVRG       NaN          NaN  ...  12.197335  15.653908        NaN
6   PCOR       NaN          NaN  ... -13.240907   2.491615   8.202028

[7 rows x 16 columns]

In [ ]:
#last 2 quarters only no ROE

filtered_stocks = pd.DataFrame()

code = []
q1y1y0 = []
q2y1y0 = []
q3y1y0 = []
y1y0 = []

q1y2y1 = []
q2y2y1 = []
q3y2y1 = []
y2y1 = []

q1y3y2 = []
q2y3y2 = []
q3y3y2 = []
y3y2 = []

roe1 = []
roe2 = []
roe3 = []

for i in range(len(screener['CODE'])):
  if screener[current_quarter][i] >= 25 and screener[last_quarter_1][i] >= 25:
    code.append(screener['CODE'][i])

    q1y1y0.append(screener['Q1 Y1 - Y0'][i])
    q2y1y0.append(screener['Q2 Y1 - Y0'][i])
    q3y1y0.append(screener['Q3 Y1 - Y0'][i])
    y1y0.append(screener['Y1 - Y0'][i])

    q1y2y1.append(screener['Q1 Y2 - Y1'][i])
    q2y2y1.append(screener['Q2 Y2 - Y1'][i])
    q3y2y1.append(screener['Q3 Y2 - Y1'][i])
    y2y1.append(screener['Y2 - Y1'][i])

    q1y3y2.append(screener['Q1 Y3 - Y2'][i])
    q2y3y2.append(screener['Q2 Y3 - Y2'][i])
    q3y3y2.append(screener['Q3 Y3 - Y2'][i])
    y3y2.append(screener['Y3 - Y2'][i])

    roe1.append(screener['ROE Y1'][i])
    roe2.append(screener['ROE Y2'][i])
    roe3.append(screener['ROE Y3'][i])

filtered_stocks['CODE'] = code

filtered_stocks['EPS Y0 %'] = y1y0
filtered_stocks['Q3 EPS Y0 %'] = q3y1y0
filtered_stocks['Q2 EPS Y0 %'] = q2y1y0
filtered_stocks['Q1 EPS Y0 %'] = q1y1y0

filtered_stocks['EPS Y1 %'] = y2y1
filtered_stocks['Q3 EPS Y1 %'] = q3y2y1
filtered_stocks['Q2 EPS Y1 %'] = q2y2y1
filtered_stocks['Q1 EPS Y1 %'] = q1y2y1

filtered_stocks['EPS Y2 %'] = y3y2
filtered_stocks['Q3 EPS Y2 %'] = q3y3y2
filtered_stocks['Q2 EPS Y2 %'] = q2y3y2
filtered_stocks['Q1 EPS Y2 %'] = q1y3y2

filtered_stocks['ROE Y1 %'] = roe1
filtered_stocks['ROE Y2 %'] = roe2
filtered_stocks['ROE Y3 %'] = roe3

filtered_stocks = filtered_stocks.sort_values(by = 'ROE Y1 %', ascending = False)
filtered_stocks

     CODE  EPS Y0 %  Q3 EPS Y0 %  ...   ROE Y1 %   ROE Y2 %   ROE Y3 %
11   GMA7       NaN          NaN  ...  46.635672  27.329974  24.238585
12   GSMI       NaN          NaN  ...  29.163074  23.480825  16.811569
10    FNI       NaN          NaN  ...  20.469744  17.047699   7.976947
2     APX       NaN          NaN  ...  20.316478   5.090103   4.474291
19    MER       NaN          NaN  ...  20.003468  27.418730  27.871681
9      FB       NaN          NaN  ...  16.993757  22.544192  23.466165
21   NIKL       NaN          NaN  ...  15.865756  10.891804  12.624321
5     CLI       NaN          NaN  ...  13.368294  17.732701  19.156765
6   CNVRG       NaN          NaN  ...  12.197335  15.653908        NaN
28    URC       NaN          NaN  ...  11.888022  10.626398  11.266096
8     DNL       NaN          NaN  ...  11.322523  15.310741  19.240199
1      AP       NaN          NaN  ...  11.012530  15.101263  18.622141
29  WLCON       NaN          NaN  ...   9.463572  14.491115  13.891517
0     AEV       NaN          NaN  ...   9.306346  13.555688  14.298383
25    SCC       NaN          NaN  ...   7.791273  21.879946  30.114130
16    ICT       NaN          NaN  ...   7.501169   8.116576  12.105427
15   HOME       NaN          NaN  ...   7.387034   8.455542  19.092297
7     DMC       NaN          NaN  ...   7.320065  14.435758  20.446225
14   HLCM       NaN          NaN  ...   6.965713  12.926513  10.071526
24     PX       NaN          NaN  ...   5.070114  -2.820301   2.567383
13  GTCAP       NaN          NaN  ...   4.338008  13.264314   9.739089
18    MBT       NaN          NaN  ...   4.194192   9.065876   8.061465
20    MPI       NaN          NaN  ...   4.193626  11.306062   9.278963
27    SMC       NaN          NaN  ...   3.339857   8.456550   9.502546
4     CHP       NaN          NaN  ...   2.295690   4.313349  -3.379127
23    PNB       NaN          NaN  ...   1.683188   6.298552   7.433217
3      AT       NaN          NaN  ...   0.350035  -1.645127  -4.828782
22   PCOR       NaN          NaN  ... -13.240907   2.491615   8.202028
17    JFC       NaN          NaN  ... -18.570155  14.073107  15.596316
26  SHLPH       NaN          NaN  ... -68.478171  14.113465  13.025635

[30 rows x 16 columns]

In [ ]:
#current quarter only no ROE

filtered_stocks = pd.DataFrame()

code = []
q1y1y0 = []
q2y1y0 = []
q3y1y0 = []
y1y0 = []

q1y2y1 = []
q2y2y1 = []
q3y2y1 = []
y2y1 = []

q1y3y2 = []
q2y3y2 = []
q3y3y2 = []
y3y2 = []

roe1 = []
roe2 = []
roe3 = []

for i in range(len(screener['CODE'])):
  if screener[current_quarter][i] >= 25:
    code.append(screener['CODE'][i])

    q1y1y0.append(screener['Q1 Y1 - Y0'][i])
    q2y1y0.append(screener['Q2 Y1 - Y0'][i])
    q3y1y0.append(screener['Q3 Y1 - Y0'][i])
    y1y0.append(screener['Y1 - Y0'][i])

    q1y2y1.append(screener['Q1 Y2 - Y1'][i])
    q2y2y1.append(screener['Q2 Y2 - Y1'][i])
    q3y2y1.append(screener['Q3 Y2 - Y1'][i])
    y2y1.append(screener['Y2 - Y1'][i])

    q1y3y2.append(screener['Q1 Y3 - Y2'][i])
    q2y3y2.append(screener['Q2 Y3 - Y2'][i])
    q3y3y2.append(screener['Q3 Y3 - Y2'][i])
    y3y2.append(screener['Y3 - Y2'][i])

    roe1.append(screener['ROE Y1'][i])
    roe2.append(screener['ROE Y2'][i])
    roe3.append(screener['ROE Y3'][i])

filtered_stocks['CODE'] = code

filtered_stocks['EPS Y0 %'] = y1y0
filtered_stocks['Q3 EPS Y0 %'] = q3y1y0
filtered_stocks['Q2 EPS Y0 %'] = q2y1y0
filtered_stocks['Q1 EPS Y0 %'] = q1y1y0

filtered_stocks['EPS Y1 %'] = y2y1
filtered_stocks['Q3 EPS Y1 %'] = q3y2y1
filtered_stocks['Q2 EPS Y1 %'] = q2y2y1
filtered_stocks['Q1 EPS Y1 %'] = q1y2y1

filtered_stocks['EPS Y2 %'] = y3y2
filtered_stocks['Q3 EPS Y2 %'] = q3y3y2
filtered_stocks['Q2 EPS Y2 %'] = q2y3y2
filtered_stocks['Q1 EPS Y2 %'] = q1y3y2

filtered_stocks['ROE Y1 %'] = roe1
filtered_stocks['ROE Y2 %'] = roe2
filtered_stocks['ROE Y3 %'] = roe3

filtered_stocks = filtered_stocks.sort_values(by = 'ROE Y1 %', ascending = False)
filtered_stocks

     CODE  EPS Y0 %  Q3 EPS Y0 %  ...   ROE Y1 %   ROE Y2 %   ROE Y3 %
20   GMA7       NaN          NaN  ...  46.635672  27.329974  24.238585
22   GSMI       NaN          NaN  ...  29.163074  23.480825  16.811569
17    FNI       NaN          NaN  ...  20.469744  17.047699   7.976947
5     APX       NaN          NaN  ...  20.316478   5.090103   4.474291
33    MER       NaN          NaN  ...  20.003468  27.418730  27.871681
16     FB       NaN          NaN  ...  16.993757  22.544192  23.466165
37   NIKL       NaN          NaN  ...  15.865756  10.891804  12.624321
11    CLI       NaN          NaN  ...  13.368294  17.732701  19.156765
12  CNVRG       NaN          NaN  ...  12.197335  15.653908        NaN
47    URC       NaN          NaN  ...  11.888022  10.626398  11.266096
15    DNL       NaN          NaN  ...  11.322523  15.310741  19.240199
4      AP       NaN          NaN  ...  11.012530  15.101263  18.622141
18    FPH       NaN          NaN  ...  11.007932  13.746105  12.134080
49  WLCON       NaN          NaN  ...   9.463572  14.491115  13.891517
1     AEV       NaN          NaN  ...   9.306346  13.555688  14.298383
42    SCC       NaN          NaN  ...   7.791273  21.879946  30.114130
35    MWC       NaN          NaN  ...   7.555728  10.071983  12.373923
26    ICT       NaN          NaN  ...   7.501169   8.116576  12.105427
25   HOME       NaN          NaN  ...   7.387034   8.455542  19.092297
14    DMC       NaN          NaN  ...   7.320065  14.435758  20.446225
7     BDO       NaN          NaN  ...   7.188929  11.918389   9.946396
24   HLCM       NaN          NaN  ...   6.965713  12.926513  10.071526
44     SM       NaN          NaN  ...   6.078156  12.952368  11.894324
48    VLL       NaN          NaN  ...   6.025106  11.614709  11.462141
46   SMPH       NaN          NaN  ...   5.838013  12.822012  11.792808
0      AC       NaN          NaN  ...   5.396230   8.242924  11.738251
41    RLC       NaN          NaN  ...   5.106179   8.692610   8.756377
40     PX       NaN          NaN  ...   5.070114  -2.820301   2.567383
32    MEG       NaN          NaN  ...   4.971157   9.412697   8.377276
29   LAND       NaN          NaN  ...   4.691883   8.124523   7.309269
23  GTCAP       NaN          NaN  ...   4.338008  13.264314   9.739089
3     ALI       NaN          NaN  ...   4.225638  15.457013  15.083284
31    MBT       NaN          NaN  ...   4.194192   9.065876   8.061465
34    MPI       NaN          NaN  ...   4.193626  11.306062   9.278963
2     AGI       NaN          NaN  ...   3.466085   9.124603   8.132338
45    SMC       NaN          NaN  ...   3.339857   8.456550   9.502546
10    CHP       NaN          NaN  ...   2.295690   4.313349  -3.379127
39    PNB       NaN          NaN  ...   1.683188   6.298552   7.433217
6      AT       NaN          NaN  ...   0.350035  -1.645127  -4.828782
28    JGS       NaN          NaN  ...   0.097354  10.431665   7.601498
21  GREEN       NaN          NaN  ...  -1.940744  -1.719667  70.567440
19  FRUIT       NaN          NaN  ...  -3.881935   9.265607  26.838459
36  MWIDE       NaN          NaN  ...  -4.261651   6.172926  10.520793
13  DAVIN       NaN          NaN  ...  -7.750167  -6.925014  -5.856994
38   PCOR       NaN          NaN  ... -13.240907   2.491615   8.202028
27    JFC       NaN          NaN  ... -18.570155  14.073107  15.596316
8   BLOOM       NaN          NaN  ... -25.317090  22.531888  19.599598
30    MAC       NaN          NaN  ... -37.958752  17.462028  19.400235
43  SHLPH       NaN          NaN  ... -68.478171  14.113465  13.025635
9     CEB       NaN          NaN  ... -97.997280  20.317939   9.781885

[50 rows x 16 columns]